[submodule "exastro-it-automation-docs"]
	path = exastro-it-automation-docs
	url = https://github.com/yutoyajima/exastro-it-automation-docs.git
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/yutoyajima/docs.git
	branch = master
